﻿body{
background-image: url("../slike/glazba.jpg");
background-repeat:no-repeat; 

background-size:auto;
  background-size: 100%,100%; 
  padding-left:6.5px;
  padding-right:6.5px;
  padding-top:10.5px;
  padding-bottom:10.5px;
   }
   ul{list-style:none;}
   a{border:none;}
div#sat{	
	position:absolute;
	right:200px;
	top: 50px;
	font-size:25px;}
header,div,span{
	color:white;
	}
#t1,#t2,#t3,#t4{
	position:absolute;
	left:50px;
}
header{
	
	position:absolute;
	top: 50px;
	right:500px;
	text-align:center;	
}
select{
	position:absolute;
	top:200px;
	right:650px;
}



#srednjivijek h2,#renesansa h2{
position:absolute;
left:600px;
top:250px;	
}
div#tekst11,#tekst21,#tekst12,#tekst22{
	position:absolute;
	widht:700px;
	height:100px;
	
	left:40px;
	right:40px;
	top:400px;
	text-align:justify;
	}
	div#tekst12,#tekst22{
		position:absolute;
		top:500px;
		right:40px;
		left:40px;
		text-align:justify;
	}

#pla,#pla2
	{
		position:absolute;
		top:600px;
		height:20px;
		left:40px;
		
		}
			
	#buttoni,#buttoni2{
		
		position:absolute;
		top:570px;
		right:40px;
		left:40px;
		height:20px;
		
	}
	#tekst14,#tekst24,#tekst13,#tekst23{
		width:200px;
		height:50px;
		position:absolute;
		top:20px;
		
	}
	#tekst14,#tekst24{position:absolute;
	left:350px;}

	#kviz,#kviz2{
		position: absolute;
		top:710px;
		height:30px;
	}
	
img{
	width:100px;
	height:100px;
	position:absolute;
	top:600px;
	left:700px;
}

  
	
	
